<% show_section = params[:section] || 'all' %>

<table id="<%= params[:action] %>_event_record_form" class="table_form">

<% if show_section == 'all' || show_section == 'section_data' %>
  <tr class="form_section">
    <td><%= form.label "sections.data" %></td>
    <td></td>
  </tr>

  <tr class="list_style_0">
    <td><%= form.label :name %></td>
    <td><%= form.text_field nil, { :value => @event_record.h_event_definition, :disabled => true } %></td>
  </tr>

  <tr class="list_style_1">
    <td><%= form.label :timestamp %></td>
    <td><%= form.text_field nil, { :value => l(@event_record.timestamp), :disabled => true } %></td>
  </tr>

<% end %>


</table>
