


<table id="<%= params[:action] %>_campaignaction_form" class="table_form">

<% unless form.object.organization_type && !form.object.organization_type.empty?  %>

  <tr class="<%= Gx.list_style %>">

    <%= hidden_field_tag "dont_show_errors", true %>
    <td><%= form.label_required :organization_type %></td>
    <td>
      <%= form.select :organization_type, [ [ t('local_organization.abrev'), "LocalOrganization" ], [ t('autonomy.title'), "Autonomy" ] ],
                      { :include_blank => true } %>
    </td>
  </tr>


<% else %>

  <tr class="list_style_1">
    <% if form.object.organization_id and form.object.organization_type %>
      <%= form.hidden_field :organization_id,   :value => form.object.organization_id %>
      <%= form.hidden_field :organization_type, :value => form.object.organization_type %>
      <td><label class="required"><%= t("campaignaction.#{ form.object.organization_type }") %></td>
      <td><%= text_field_tag 'organization_full_name', form.object.organization.full_name, { :disabled => true } %></td>
    <% else %>
      <%= form.hidden_field :organization_type %>
      <td><label class="required"><%= t("campaignaction.#{ form.object.organization_type }") %></td>
      <td><%= form.select :organization_id, form.object.organization_type.constantize.can_choose(current_agent).orderby_name.collect { |x| [x.name, x.id] } %></td>
    <% end %>
  </tr>


  <tr class="list_style_0">
    <td><%= form.label_required :campaign_id %></td>
    <td><%= form.select :campaign_id, Campaign.orderby_name.collect { |p| [p.name, p.id] },
                        { :include_blank =>  true } %>
      <% content_for(:head){ javascript_tag "addAutocompleteInputCallback('campaignaction_campaign_id', '#{show_info_campaigns_path}', 'campaign_id', 'campaing_info');" } %>

          <div id="campaing_info">
            <% if form.object.campaign %>
              <%= render :partial => 'campaigns/campaign_info', :locals => { :info_campaign => form.object.campaign }, :layout => nil %>
            <% end %>
          </div>

          </td>
  </tr>

  <%= render :partial => 'performed_actions/common_form_fields', :locals => {:form => form} %>

<% end %>
</table>
