<table class="table_form">

  <tr class="form_section">
    <td><%= Gx.t_attr 'event_record.sections.data' %></td>
    <td></td>
  </tr>

  <tr class="list_style_0">
    <td><%= Gx.t_attr 'event_record.name' %></td>
    <td><%= @resource.h_event_definition %></td>
  </tr>

  <tr class="list_style_1">
    <td><%= Gx.t_attr 'event_record.timestamp' %></td>
    <td><%= l(@resource.timestamp) %></td>
  </tr>

  <tr class="list_style_1">
    <td><%= Gx.t_attr 'event_record.extra_info' %></td>
    <td><%= raw extra_info_for_event(@resource) %></td>
  </tr>
</table>

<% if @resource.authorize?(:read, :to => current_user) %>
  <table>
  <% summary_notes_section_for(@resource) %>
  </table>
<% end %>

