<table id="<%= params[:action] %>_talk_form" class="table_form">

  <tr class="list_style_1">
    <td><%= form.label_required :login %></td>
    <td><%= form.text_field :login %></td>
  </tr>

  <tr class="list_style_0">
    <td><%= form.label_required :email %></td>
    <td><%= form.text_field :email %></td>
  </tr>

  <% if @resource.needs_password? -%>

    <tr class="list_style_1">
      <td><%= form.label :password %></td>
      <td><%= form.password_field :password %></td>
    </tr>

    <tr class="list_style_0">
      <td><%= form.label :password_confirmation %></td>
      <td><%= form.password_field :password_confirmation %></td>
    </tr>

  <% else -%>

    <tr class="list_style_1">
      <td><%= t(:associating_to_id, :id => session[:openid_identifier]) %></td>
    </tr>

  <% end -%>

</table>

