
<div id="shortcuts">

  <%= link_to          t('.shortcuts.home'),   root_path, :id => "home" %>
  <%= link_to          t('.shortcuts.monitoring'), monitoring_path, :id => "monitoring" %>
  <%= link_to          t('.shortcuts.logout'), logout_path, :id => "logout" %>
  <%= link_to          t('.shortcuts.admin'),    admin_path, :id => 'admin' if current_agent.has_any_permission_to(:config, :site, :on => Site.current) %>

</div>

<div id="main_nav_menu_container">
<ul id="main_nav_menu" class="nav_menu">

  <li class="nav_menu_item_lvl1">
    <%= t('.main_menu.activists') %>
    <ul class="nav_menu_group">
      <li>
        <%= link_to t('.main_menu.activists'), activists_path if current_agent.has_any_permission_to(:read, :activists) %>
      </li>
    </ul>
  </li>

  <li class="nav_menu_item_lvl1">
    <%= t('.main_menu.collaboration_types') %>
    <ul class="nav_menu_group">
      <li>
        <%= link_to t('.main_menu.local_organizations'), local_organizations_path %>
      </li>
      <li>
        <%= link_to t('.main_menu.se_teams'), se_teams_path %>
      </li>
      <li>
        <%= link_to t('.main_menu.countries'), countries_path %>
      </li>
      <li>
        <%= link_to t('.main_menu.autonomies'), autonomies_path %>
      </li>
      <li>
        <%= link_to t('.main_menu.committees'), committees_path, :class => 'last' %>
      </li>
    </ul>
  </li>

  <li class="nav_menu_item_lvl1">
    <%= t('.main_menu.reception') %>
    <ul class="nav_menu_group">
      <li>
        <%= link_to t('.main_menu.interesteds'), interesteds_path if current_agent.has_any_permission_to(:read, :interesteds)  %>
      </li>
      <li>
        <%= link_to t('.main_menu.talks'), talks_path if current_agent.has_any_permission_to(:read, :talks) %>
      </li>
    </ul>
  </li>

  <li class="nav_menu_item_lvl1">
    <%= t('.main_menu.actions') %>
    <ul class="nav_menu_group">
      <li>
        <%= link_to t('.main_menu.campaigns'), campaigns_path if current_agent.has_any_permission_to(:read, :campaigns) %>
      </li>
      <li>
        <%= link_to t('.main_menu.campaignactions'), campaignactions_path if current_agent.has_any_permission_to(:read, :performed_actions) %>
      </li>
      <li>
        <%= link_to t('.main_menu.custom_actions'), custom_actions_path if current_agent.has_any_permission_to(:read, :performed_actions) %>
      </li>
      <li>
        <%= link_to t('.main_menu.hr_schools'), hr_schools_path, :class => "last" if current_agent.has_any_permission_to(:read, :hr_schools) %>
      </li>
    </ul>
  </li>

  <li class="nav_menu_item_lvl1">
    <%= t('.search.top') %>
    <ul class="nav_menu_group">
      <li>
         <%= link_to t('.search.activists'), search_path(:what => :activists) if current_agent.has_any_permission_to(:read, :activists) %>         
      </li>
      <li>
         <%= link_to t('.search.hr_schools'), search_path(:what => :hr_schools) if current_agent.has_any_permission_to(:read, :hr_schools) %>         
      </li>
      <li>
         <%= link_to t('.search.campaignactions'), search_path(:what => :campaignactions) if current_agent.has_any_permission_to(:read, :performed_actions) %>         
      </li>
      <li>
         <%= link_to t('.search.custom_actions'), search_path(:what => :custom_actions) if current_agent.has_any_permission_to(:read, :performed_actions) %>         
      </li>
      <li>
         <%= link_to t('.search.interesteds'), search_path(:what => :interesteds) if current_agent.has_any_permission_to(:read, :interesteds) %>         
      </li>
      <li>
         <%= link_to t('.search.talks'), search_path(:what => :talks) if current_agent.has_any_permission_to(:read, :talks) %>         
      </li>
      <li>
         <%= link_to t('.search.alerts'), search_path(:what => :alerts) if current_agent.has_any_permission_to(:read, :alerts) %>         
      </li>
      <% collab_places = [:local_organizations, :se_teams, :countries, :autonomies, :committees] %>
      <% if collab_places.collect{|org|current_agent.has_any_permission_to(:read, org)}.include?(true) %>
      <li>
         <%=  link_to t('.main_menu.collaboration_types'), '' %>         
        <ul class="nav_menu_group">
          <% collab_places.each do |org| %>
            <li><%= link_to t(".search.#{org.to_s}"), search_path(:what => org) if current_agent.has_any_permission_to(:read, org) %></li>         
          <% end %>
        </ul>
      </li>
      <% end %>
    </ul>
  </li>
</ul>
</div>
