


<table id="<%= params[:action] %>_custom_action_form" class="table_form">

<% unless form.object.organization_type && !form.object.organization_type.empty?  %>

  <tr class="<%= Gx.list_style %>">

    <%= hidden_field_tag "dont_show_errors", true %>
    <td><%= form.label_required :organization_type %></td>
    <td>
      <%= form.select :organization_type, [ [ t('local_organization.abrev'), "LocalOrganization" ], [ t('autonomy.title'), "Autonomy" ] ],
                      { :include_blank => true } %>
    </td>
  </tr>


<% else %>

  <tr class="list_style_1">
    <% if form.object.organization_id and form.object.organization_type %>
      <%= form.hidden_field :organization_id,   :value => form.object.organization_id %>
      <%= form.hidden_field :organization_type, :value => form.object.organization_type %>
      <td><label class="required"><%= t("custom_action.#{ form.object.organization_type }") %></td>
      <td><%= text_field_tag 'organization_full_name', form.object.organization.full_name, { :disabled => true } %></td>
    <% else %>
      <%= form.hidden_field :organization_type %>
      <td><label class="required"><%= t("custom_action.#{ form.object.organization_type }") %></td>
      <td><%= form.select :organization_id, form.object.organization_type.constantize.can_choose(current_agent).orderby_name.collect { |x| [x.name, x.id] } %></td>
    <% end %>
  </tr>


  <tr class="list_style_0">
    <td><%= form.label_required :custom_name %></td>
    <td><%= form.text_field :custom_name %></td>
  </tr>

  <tr class="list_style_1">
    <td><%= form.label :custom_action_topic_ids %><i class="help"><%= raw t("form.multiple_select_help") %></i></td>
    <td><%= form.select :custom_action_topic_ids, CustomActionTopic.all.collect { |p| [p.name, p.id] }, {}, {"multiple" => true } %></td>
  </tr>

  <%= render :partial => 'performed_actions/common_form_fields', :locals => {:form => form} %>

<% end %>

</table>

