<% content_for :title, t('.title') %>
<% content_for :heading_text, t('.heading_text') %>

<div class="container_form">
  <%= gx_form_for(@hr_school, :url => { :controller => 'public', :action => 'create_hr_school' } ) do |f| %>

  <% form_errors = false %>
  <% unless @hr_school.errors.count.zero?
      form_errors = "#{t('.form_errors_header')}\\n"
      @hr_school.errors.full_messages.each do |msg|
        form_errors << "  * #{msg}\\n"
      end 
    end %>
   <% if form_errors %>
     <%= javascript_tag "alert(#{'"'}#{ form_errors }#{'"'});" %>
   <% end %>

    <%= render :partial => 'hr_schools/form', :object => f %>

    <input name="hr_school[accepted_privacity]" id="hr_school_accepted_privacity" value="checkbox" type="checkbox">
    <%= raw t('.accept_privacy_policy') %>

    <p class="text_center big_padding font_plus_two">
      <%= f.submit( t('.submit'), :style => 'background-color: black; color: white;' ) %>
    </p>

  <% end %>

</div>

<!-- Piwik -->
    <script type="text/javascript">
    var pkBaseURL = (("https:" == document.location.protocol) ? "https://estadisticas.es.amnesty.org/piwik/" : "http://estadisticas.es.amnesty.org/piwik/");
    document.write(unescape("%3Cscript src='" + pkBaseURL + "piwik.js' type='text/javascript'%3E%3C/script%3E"));
    </script><script type="text/javascript">
    try {
    var piwikTracker = Piwik.getTracker(pkBaseURL + "piwik.php", 1);
    piwikTracker.trackPageView();
    piwikTracker.enableLinkTracking();
    } catch( err ) {}
    </script><noscript><p><img src="http://estadisticas.es.amnesty.org/piwik/piwik.php?idsite=1" style="border:0" alt="" /></p></noscript>
<!-- End Piwik Tracking Code -->

