<% content_for :title, t('.title') %>
<% content_for :heading_toolbar, render(:partial => 'locale_selection') %>

<div class="text_left">

  <h2><%= t('.heading_text') %></h2>

  <div class="container_form">
    <%= gx_form_for(@hr_school, :url => { :controller => 'public', :action => 'create_hr_school' } ) do |f| %>

    <% form_errors = false %>
    <% unless @hr_school.errors.count.zero?
        form_errors = "#{t('.form_errors_header')}\\n"
        @hr_school.errors.full_messages.each do |msg|
          form_errors << "  * #{msg}\\n"
        end 
      end %>
     <% if form_errors %>
       <%= javascript_tag "alert(#{'"'}#{ form_errors }#{'"'});" %>
     <% end %>

      <%= render :partial => 'hr_schools/form', :object => f %>

      <input name="hr_school[accepted_privacity]" id="hr_school_accepted_privacity" value="checkbox" type="checkbox">
      <%= raw t('.accept_privacy_policy') %>

      <p class="text_center big_padding font_plus_two">
        <%= f.submit( t('.submit'), :style => 'background-color: black; color: white;' ) %>
      </p>

    <% end %>

  </div>

</div>

