<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="es" lang="es">
<head>
  <title>Gestión de voluntarios de Amnistía Internacional | Dabne</title>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />

  <%= stylesheet_link_tag "application-all", :media => "all" %>
  <%= stylesheet_link_tag "application-print", :media => "#{params[:print_view] ? 'all' : 'print'}" %>
    <!--[if lte IE 8]>
      <%= stylesheet_link_tag "application-ie", :media => "all" %>
    <![endif]-->

  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>

  <%= yield :head %>

</head>
<body>
    <div id="container">
      <%= print_action_bar if params[:print_view] %>
      <div id="header">
        <img id="logo" src="/assets/css/header-logo-<%= I18n::default_locale %>.gif" alt="Amnistía Internacional | Dabne" width="260" height="95" />
        <%= render :partial => 'menu' %>
      </div>
      <div id="main">
        <div id="content">
          <%= notification_area %>
          <%= yield %>
        </div>
      </div>
      <div id="footer">
        <%= link_to t('navigation.go_up'), '#container' %>. 
        <span>Aplicación de Gestión de Activistas. Desarrollada por <a href="http://dabne.net">Dabne Tecnologías de la Información</a> y <a href="http://gnoxys.net">Gnoxys</a>.</span>
      </div>
    </div>
</body>
</html>
