<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Formulario de adhesión de activistas de Amnistía Internacional</title>

  <%= stylesheet_link_tag 'all/layout' %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>

  <%= yield :head %>

  <style>
table.table_form input, table.table_form select, table.table_form textarea  { width: 200px; }
table.table_form select.datetime_select { width: 65px; }
table.table_form tr.form_section { background-color: #CCCCCC; }
.list_style_1 { background-color: #F5F5F5; }
body { font-family:Arial,Helvetica,sans-serif; color: black; }
table.table_form label { font-weight: normal; }
  </style>
</head>
<body>
  <div class="text_left">
    <p>Rellena el formulario y contactaremos contigo para explicarte cómo unirte a nuestra comunidad internacional por los derechos humanos.</p>
    <p>Si encuentras dificultades para enviar el formulario, envíanos un e-mail con los datos a: <a href="mailto:equipo.crecimiento@es.amnesty.org">equipo.crecimiento@es.amnesty.org</a></p>

    <%= yield %>

  </div>

</body>
</html>
